@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body{
    background: url(../img/anuncio3.png) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
#linkancora{
    list-style: none;
    display: flex;
    justify-content: right;
}
#linkancora a{
    color: rgb(228, 228, 228);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-decoration: none;
}
#linkancora a:hover{
    color: #D9C896;
    cursor: pointer;
}
#logo{
    list-style: none;
    width: 130px;
    height: 130px;
}
#linkancora li{
    padding-right: 45px;
    padding-top: 45px;
}
#logo li{
    padding: 0px;
    margin-top: -14px;
}
#text{
    background-color: #02171f;
    margin-top: 100vh; 
}
#produto{
    padding: 50px 120px 50px 120px;
}
#produto h1{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #D9C896;
    text-align: center;
}
.left{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    color: #ffffff;
    text-align: left;
    width: 50vw;
    letter-spacing: 1px;
    line-height: 30px;
}
.maior{
    content: '';
    height: 1px;
    width: 75px;
    background: #D9C896;
    border-color: #D9C896;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 100px;
    
}
.menor{
    content: '';
    height: 1px;
    width: 150px;
    background: #D9C896;
    border-color: #D9C896;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 100px;
}
.right{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    color: #ffffff;
    text-align: right;
    width: 50vw;
    letter-spacing: 1px;
    line-height: 30px;
    padding-left: 30vw;
}
#menu{
    display: flex;
    justify-content: space-between;
}
body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-track {
    background: rgb(23, 23, 23);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(23, 23, 23);
    border-radius: 1px;
    border: 10px solid #D9C896;
}
#botao{
    margin-left: 8vw;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding-right: 10vw;
}
button{
    border: 3px solid #D9C896;
    font-family: 'Raleway', sans-serif;
    background: #02171f;
    border-radius: 10px;
    color: rgb(209, 209, 209);
    font-size: 20px;
    width: 18vw;
    height: 15vh;
    transition-duration: 0.5s;
}
button:hover{
    background: #0C4B59;
    transition-duration: 0.5s;
    color: #ffffff;
}
button:active{
    background: #D9C896;
    color: rgb(19, 19, 19);
}
h2{
    font-size: 25px;
    margin: 0;
}
h3{
    font-size: 15px;
    margin: 0;
}
.botaoinfo{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
}
#cheeseImg{
    height: 70vh;
    width: 100%;
    margin: 0;
    object-fit: cover;
    object-position: 0% 58%;
    margin-top: 50px;
    margin-bottom: 50px;
}
#historiaproduto h1{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #D9C896;
    text-align: center;
}
#historiaproduto p{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 30px;
}
#container01{
    display: flex;
    justify-content: center;
    
}
#coluna01{
    width: 36vw;
    margin-right: 3vw;
}
#coluna02{
    width: 36vw;
    margin-left: 3vw;
}
#provinciaBrie{
    height: 70vh;
    width: 78vw;
    margin: 0;
    object-fit: cover;
    object-position: 0% 40%;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 80%;
    border-radius: 10px;
}
#container01 p{
    margin-top: 40px;
    margin-bottom: 40px;
}
#historiaLocal h1{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #D9C896;
    text-align: center;
}
#textHistoriaLocal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
#historiaLocal p{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 30px; 
    width: 80vw;

}
#maps{
    width: 80vw;
    height: 86vh;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 80%;
    border: 0;
}

.containerfooter{
    display: flex;
    background-color: #010d11;
    height: 25vw;
}
.footertitle{
    font-family: 'Raleway', sans-serif;
    color: rgb(196, 196, 196);
    font-size: 20px;
    font-weight: 600;
}
.footerwrite{
    font-family: 'Raleway', sans-serif;
    color: rgb(234, 234, 234);
    font-size: 17px;
    width: 20vw;
}
.box-1{
    padding-left: 13vw;
    padding-top: 5vw;
}
.box-2{
    padding-left: 13vw;
    padding-right: auto;
    padding-top: 5vw;
}
.box-3{
    padding-left: 13vw;
    padding-top: 5vw;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}